/pln_2015.egg-info
*__pycache__
/corpus/test.txt
/languagemodeling/*.pdf
/languagemodeling/to_test.py
/languagemodeling/tests/__pycache__
/tweets
/languagemodeling/scripts/output.txt
*ancora
*TODOs.md
/Models/tagging/m*
/Models/tagging/base
/Models/parsing
*.pdf
/tweets
